// == Variables
// colors
$dark1-color: #111111;
$dark2-color: #555555;
$dark3-color: #777777;
$dark4-color: #999999;
$light1-color: white;
$light3-color: #eeeeee;
$light4-color: #cccccc;
// breakpoints
$desktops: 1281px;
$big-landscape-tablets: 1025px;
$tablets: 801px;
$portrait-tablets: 600px;
$smartphones: 480px;
$portrait-smartphones: 320px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $dark1-color;
    font-family: "Inter", sans-serif;
    margin: 0 80px;
    overflow-x: hidden;

    a {
        color: inherit;
        text-decoration: none;
    }

    ul {
        list-style: none;
    }

    button {
        background: none;
        border: none;
        cursor: pointer;
    }

    @media screen and (max-width: $tablets) {
        background-image: url(../img/initial-wrapper/hero.png);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position-y: 2%;
        background-position-x: 140%;
    }

    @media screen and (max-width: $tablets) {
        margin: 0 40px;
    }
}

header {
    margin-top: 40px;

    nav {
        display: flex;
        color: $light4-color;
        justify-content: space-between;
        align-items: center;

        font-size: 20px;

        .logo{
            @media screen and (max-width: 421px){
                img{
                    width: 60%;
                }
            }
        }

        .mobile_nav {
            @media screen and (min-width: $big-landscape-tablets) {
                display: none;
            }

            button {
                width: 30px;

                border: none;
                background: none;
                cursor: pointer;

                img:hover {
                    filter: red;
                    width: 35px;

                    &:active {
                        width: 30px;
                    }
                }
            }
        }

        .nav {
            @media screen and (max-width: $big-landscape-tablets) {
                display: none;
            }
            ul {
                display: flex;
                gap: 28px;
            }
        }
    }
}

main {
    .initial_wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 120px;

        .title_wrapper {
            #uptitle {
                color: #ff3998;
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 24px;
            }

            h1 {
                color: $light1-color;
                font-size: clamp(2em, 5vw, 6em);
                font-weight: 900;
                margin-bottom: 32px;

                @media screen and (min-width: 1859px) {
                    margin-right: 2%;
                }

                @media screen and (max-width: $portrait-tablets) {
                    font-size: 40px;
                    
                }
            }

            #subtitle {
                width: 87%;
                color: $light4-color;
                font-weight: normal;
                font-size: 20px;
                margin-bottom: 41px;
            }
        }

        .title_img_wrapper {
            display: flex;
            align-items: center;
            margin-top: -6%;

            img {
                width: 120%;

                @media screen and (max-width: $tablets) {
                    display: none;
                }

            }

            @media screen and (max-width: 1116px) {
                align-items: flex-start;
            }
        }
    }

    .second_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0 120px 0;

        @media screen and (max-width: $big-landscape-tablets) {
            margin-bottom: 65px;
        }

        @media screen and (max-width: $tablets) {
            margin: 50px -40px 65px -40px;
        }

        @media screen and (max-width: 557px) {
            margin-top: 100px;     
        }

        .second_generic_wrapper {
            width: 100%;
            height: 320px;

            background: linear-gradient(
                54deg,
                rgba(255, 57, 152, 1) 11%,
                rgba(255, 57, 57, 1) 25%,
                rgba(255, 129, 57, 1) 75%,
                rgba(57, 255, 160, 1) 100%
            );

            border-radius: 16px;

            display: flex;

            @media screen and (max-width: $big-landscape-tablets) {
                height: 350px;
            }

            @media screen and (max-width: $tablets) {
                border-radius: 0;
            }

            .second_left_wrapper {
                width: 55%;

                color: $dark1-color;
                margin-top: 30px;
                margin-left: 64px;

                @media screen and (max-width: $tablets) {
                    width: 100%;
                    margin: 30px 32px 0 40px;
                }

                img {
                    margin-bottom: 26px;
                }

                h2 {
                    font-weight: 500;
                    font-size: clamp(1em, 3vw, 2.5em);
                    margin-bottom: 24px;

                    @media screen and (max-width: $tablets) {
                        font-size: 40px;
                    }
                }

                p {
                    font-weight: normal;
                    font-size: 20px;
                }
            }

            .second_right_wrapper {
                @media screen and (max-width: $tablets) {
                    width: 200px;

                    position: absolute;
                    margin-top: -80px;
                    margin-right: 20px;
                    right: 0;
                }


                img {
                    margin-left: 20%;
                    margin-right: 156px;

                    margin-top: -65px;

                    @media screen and (max-width: $big-landscape-tablets) {
                        width: 100%;

                        margin-left: 0;
                        margin-top: 0;
                        margin-right: 0;
                    }

                    @media screen and (max-width: 421px) {
                        display: none;
                    }

 
                }
            }
        }
    }

    .third_wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 127px;

        a {
            margin: 0 3px 0 3px;
        }

        @media screen and (max-width: $big-landscape-tablets) {
            margin-bottom: 65px;

            a {
                img {
                    width: clamp(60%, 90%, 100%);
                }
            }
        }

        @media screen and (max-width: $tablets) {
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;

        }
    }

    .fourth_wrapper {
        h2 {
            color: $light1-color;

            font-weight: 500;
            font-size: 40px;

            padding-bottom: 24px;
        }

        p {
            color: $dark4-color;

            font-weight: normal;
            font-size: 20px;

            padding-bottom: 56px;
        }

        .fourth_generic_wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;

            gap: 20px;

            padding-bottom: 124px;

            .swiper{
                display: none;
            }
            

            img {
                width: 100%;
                height: 100%;
            }

            @media screen and (max-width: 1116px) {
                justify-content: space-around;
                flex-wrap: wrap;
            }

            @media screen and (max-width: $tablets) {
                padding-bottom: 40px;



                .atropos{
                    display: none;
                }

                .swiper{
                    display: block;

                    .swiper-slide {

                        width: 50%;

                        @media screen and (max-width: 421px) {
                            width: 80%;
                            
                        }
                    }
                }
                
            }
        }
    }

    .fifth_wrapper {
        height: 600px;

        background: linear-gradient(158deg, rgba(255, 129, 57, 1) 77%, rgba(235, 105, 168, 0.514) 100%);

        border-radius: 16px;

        color: $dark1-color;

        display: flex;
        align-items: center;
        justify-content: space-around;

        margin-bottom: 120px;

        padding: 0 40px 0 40px;

        @media screen and (max-width: $tablets) {
            height: auto;

            flex-direction: column-reverse;

            background: linear-gradient(30deg, rgba(255, 129, 57, 1) 77%, rgba(235, 105, 168, 0.514) 100%);

            border-radius: 0;

            margin: 50px -40px 0 -40px;

            padding: 0;
        }

        .fifth_left_wrapper {

            width: 50%;
            height: 324px;

            @media screen and (max-width: $big-landscape-tablets) {
                width: 65%;

                margin-left: -20px;
            }


            @media screen and (max-width: $tablets) {

                height: auto;
                width: 100%;

                padding: 30px 0 80px 50px;
            }

            h2 {
                font-weight: 500;
                font-size: 40px;

                padding-bottom: 32px;
            }

            p {
                font-weight: normal;
                font-size: 20px;

                padding-bottom: 32px;
            }

            button {
                background: none;
                border: none;

                cursor: pointer;

                font-weight: 600;
                font-size: 20px;
            }
        }

        .fifth_right_wrapper {
            height: 100%;

            display: flex;
            justify-content: flex-end;
            align-items: flex-end;


            @media screen and (max-width: $tablets) {
                width: 100%;
                height: 300px;

                background-image: url(../img/fifth-wrapper/nft01.png)  ;
                background-repeat: no-repeat;
                background-position-x: center;
                

                border-bottom: 3px  double rgb(241, 155, 84);

                display: flex;
                justify-content: center;
                align-items: center;

                margin-top: 30px;
            }

            img {
                width: 100%;

                @media screen and (max-width: $big-landscape-tablets) {
                    position: absolute;
                    width: 25%;
                    left: 60%;
                }

                @media screen and (max-width: $tablets) {
                    display: none;
                }
            }
        }

        .fifth_aside_wrapper {
            margin-top: 30%;

            @media screen and (max-width: $big-landscape-tablets) {
                display: none;
            }

            .id {
                color: $light1-color;

                font-weight: 500;
                font-size: 0.75em;
            }

            .name {
                font-weight: 500;
                font-size: 1.25em;
            }

            .number {
                color: $dark3-color;

                font-weight: normal;
                font-size: 1.125em;
            }
        }
    }

    .sixth_wrapper {

        height: 600px;
        width: 100%;

        background: linear-gradient(13deg, rgba(255, 129, 57, 0.8052171552214635) 0%, rgba(57, 255, 160, 1) 33%);

        border-radius: 16px;

        margin-bottom: 120px;

        @media screen and (max-width: $tablets){
            height: auto;

            background: none;

            border-radius: 0;

            margin: 0 -10px 0 0;
        }

        .sixth_h2_hidden {
            font-weight: 500;
            font-size: 40px;
            display: none;

            margin-top: 50px;
            margin-left: 80px;

            @media screen and (max-width: $big-landscape-tablets) {
                display: block;
                position: absolute;
            }

            @media screen and (max-width: $tablets) {
                display: none;
                
            }
        }

        .sixth_generic_wrapper {
            height: 100%;

            display: flex;
            align-items: center;

            @media screen and (max-width: $tablets){
                height: auto;
                background: linear-gradient(210deg, rgba(255, 129, 57, 0.8052171552214635) 0%, rgba(57, 255, 160, 1) 15%);

                margin: 0 -40px 0 -40px;

                flex-direction: column;
    
            }

            .sixth_left_wrapper {
                margin-left: 80px;
                margin-right: 25%;

                @media screen and (max-width: $desktops) {
                    margin-right: 10%;
                }

                @media screen and (max-width: $big-landscape-tablets) {
                    margin-right: 10%;

                    .atropos-inner {
                        height: 50%;
                    }

                    img {
                        width: 250px;
                        height: fit-content;
                    }
                }

                @media screen and (max-width: $tablets) {
                    margin: 50px 0 50px 0; 

                    .atropos-inner {
                        height: 100%;
                    }
                }
            }

            .sixth_right_wrapper {
                width: 455px;
                height: 324px;

                margin-right: 80px;

                @media screen and (max-width: $big-landscape-tablets) {
                    margin-right: 70px;
                }

                @media screen and (max-width: $tablets) {
                    height: auto;
                    width: 100%;

                    margin: 0 0 0 0;

                    padding: 30px 0 80px 40px;
                    
                }

                h2 {
                    font-weight: 500;
                    font-size: 40px;

                    padding-bottom: 32px;

                    @media screen and (max-width: $big-landscape-tablets) {
                        display: none;
                    }

                    @media screen and (max-width: $tablets) {
                        display: block;
                        
                    }
                }

                p {
                    font-weight: normal;
                    font-size: 20px;

                    padding-bottom: 32px;

                    @media screen and (max-width: $big-landscape-tablets) {
                        margin-top: 80px;
                    }

                    @media screen and (max-width: $tablets) {
                        margin-top: 0;

                        
                    }
                }

                button {
                    background: none;
                    border: none;

                    cursor: pointer;

                    font-weight: 600;
                    font-size: 20px;
                }
            }
        }
    }

    .seventh_wrapper {
        height: auto;
        
        display: flex;
        justify-content: space-around;

        margin-bottom: 120px;

        @media screen and (max-width: $big-landscape-tablets) {
            width: 100%;

            flex-direction: column;
            align-items: center;

            :first-child {
                margin-bottom: 30px;
            }
        }

        @media screen and (max-width: $tablets) { 
            width: 100vw;
            margin: 0 -40px 0 -40px;

            padding-bottom: 0;

            .background_none{
                background-color: $dark1-color!important;
            }

            :first-child {
                margin-bottom: 0;
            }
        }

        .card {
            width: 44%;
            height: 614px;

            background: $dark2-color;
            border-radius: 16px;

            padding: 80px;

            @media screen and (max-width: $desktops) {
                height: 700px;
            }

            @media screen and (max-width: $big-landscape-tablets) {
                height: 500px;
                width: 80%;

                padding: 40px;
            }

            @media screen and (max-width: $tablets) {
                height: auto;

                width: 100%;

                border-radius: 0;

            }

            h2 {
                color: $light1-color;
                font-size: 40px;
                font-weight: 500;

                margin-top: 32px;
                margin-bottom: 32px;
            }

            p {
                color: $light4-color;
                font-size: 20px;
                font-weight: normal;
            }
        }

    }



    .eighth_wrapper {
        display: flex;

        border-bottom: 2px solid $dark2-color;
        border-top: 2px solid $dark2-color;

        background-image: url(../img/eighth-wrapper/image.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;

        margin-top: 100px;
        margin-bottom: 100px;
        padding-bottom: 120px;

        @media screen and (max-width: $desktops) {
            background-position: calc(100% + 100px);
        }

        @media screen and (max-width: $big-landscape-tablets) {
            background-position: calc(100% + 250px);
        }

        @media screen and (max-width: $tablets) {
            height: auto;

            width: 100vw;

            margin: 0 -40px 60px -40px;

            padding: 0 40px 0 40px;

        }

        @media screen and (max-width: 421px) {
            background-position-x: 70%;
        }

        @media screen and (max-width: 360px) {
            padding-bottom: 40px;     
        }



        .title_wrapper {
            width: 44%;
            height: 483px;

            margin-top: 120px;

            @media screen and (max-width: $desktops) {
                width: 50%;
                height: 483px;
            }

            @media screen and (max-width: $big-landscape-tablets) {
                width: 65%;
            }

            #uptitle {
                color: #ff3998;
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 24px;
            }

            h1 {
                color: $light1-color;
                font-weight: 900;
                font-size: clamp(2em, 5vw, 6em);
                margin-bottom: 32px;
            }

            #subtitle {
                width: 87%;
                color: $light4-color;
                font-weight: normal;
                font-size: 20px;
                margin-bottom: 41px;
            }

            button {
                background: none;
                border: none;
                cursor: pointer;
            }
        }
    }
}

footer {
    color: $light3-color;

    .footer_generic_wrapper {
        display: flex;
        justify-content: space-between;

        margin-bottom: 20px;

        @media screen and (max-width: $tablets) {
            flex-wrap: wrap;
        }

        .footer_left_wrapper {
            img,
            p {
                margin-bottom: 30px;
            }
            .social_media {
                img:nth-child(n + 2):nth-child(-n + 4) {
                    margin-left: 16px;
                }
            }
        }

        .footer_right_wrapper {
            width: 590px;
            height: 139px;

            display: flex;
            justify-content: space-between;

            margin-left: 50px;

            @media screen and (max-width: $tablets) {
                height: auto;
                flex-wrap: wrap;

                gap: 50px;

                margin-bottom: 40px;
                margin-left: 0;
                
            }

            h3 {
                margin-bottom: 28px;
                font-weight: bold;
                font-size: 16px;
            }

            p {
                font-weight: normal;
                font-size: clamp(1rem, calc(0.11rem + 1.79vw), 1.25rem);
                line-height: 150%;
            }
        }
    }

    .footer {
        color: $light4-color;

        margin-bottom: 50px;
    }
}
