* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111111;
  font-family: "Inter", sans-serif;
  margin: 0 80px;
  overflow-x: hidden;
}
body a {
  color: inherit;
  text-decoration: none;
}
body ul {
  list-style: none;
}
body button {
  background: none;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 801px) {
  body {
    background-image: url(../img/initial-wrapper/hero.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-y: 2%;
    background-position-x: 140%;
  }
}
@media screen and (max-width: 801px) {
  body {
    margin: 0 40px;
  }
}

header {
  margin-top: 40px;
}
header nav {
  display: flex;
  color: #cccccc;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
@media screen and (max-width: 421px) {
  header nav .logo img {
    width: 60%;
  }
}
@media screen and (min-width: 1025px) {
  header nav .mobile_nav {
    display: none;
  }
}
header nav .mobile_nav button {
  width: 30px;
  border: none;
  background: none;
  cursor: pointer;
}
header nav .mobile_nav button img:hover {
  filter: red;
  width: 35px;
}
header nav .mobile_nav button img:hover:active {
  width: 30px;
}
@media screen and (max-width: 1025px) {
  header nav .nav {
    display: none;
  }
}
header nav .nav ul {
  display: flex;
  gap: 28px;
}

main .initial_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}
main .initial_wrapper .title_wrapper #uptitle {
  color: #ff3998;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 24px;
}
main .initial_wrapper .title_wrapper h1 {
  color: white;
  font-size: clamp(2em, 5vw, 6em);
  font-weight: 900;
  margin-bottom: 32px;
}
@media screen and (min-width: 1859px) {
  main .initial_wrapper .title_wrapper h1 {
    margin-right: 2%;
  }
}
@media screen and (max-width: 600px) {
  main .initial_wrapper .title_wrapper h1 {
    font-size: 40px;
  }
}
main .initial_wrapper .title_wrapper #subtitle {
  width: 87%;
  color: #cccccc;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 41px;
}
main .initial_wrapper .title_img_wrapper {
  display: flex;
  align-items: center;
  margin-top: -6%;
}
main .initial_wrapper .title_img_wrapper img {
  width: 120%;
}
@media screen and (max-width: 801px) {
  main .initial_wrapper .title_img_wrapper img {
    display: none;
  }
}
@media screen and (max-width: 1116px) {
  main .initial_wrapper .title_img_wrapper {
    align-items: flex-start;
  }
}
main .second_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 120px 0;
}
@media screen and (max-width: 1025px) {
  main .second_wrapper {
    margin-bottom: 65px;
  }
}
@media screen and (max-width: 801px) {
  main .second_wrapper {
    margin: 50px -40px 65px -40px;
  }
}
@media screen and (max-width: 557px) {
  main .second_wrapper {
    margin-top: 100px;
  }
}
main .second_wrapper .second_generic_wrapper {
  width: 100%;
  height: 320px;
  background: linear-gradient(54deg, rgb(255, 57, 152) 11%, rgb(255, 57, 57) 25%, rgb(255, 129, 57) 75%, rgb(57, 255, 160) 100%);
  border-radius: 16px;
  display: flex;
}
@media screen and (max-width: 1025px) {
  main .second_wrapper .second_generic_wrapper {
    height: 350px;
  }
}
@media screen and (max-width: 801px) {
  main .second_wrapper .second_generic_wrapper {
    border-radius: 0;
  }
}
main .second_wrapper .second_generic_wrapper .second_left_wrapper {
  width: 55%;
  color: #111111;
  margin-top: 30px;
  margin-left: 64px;
}
@media screen and (max-width: 801px) {
  main .second_wrapper .second_generic_wrapper .second_left_wrapper {
    width: 100%;
    margin: 30px 32px 0 40px;
  }
}
main .second_wrapper .second_generic_wrapper .second_left_wrapper img {
  margin-bottom: 26px;
}
main .second_wrapper .second_generic_wrapper .second_left_wrapper h2 {
  font-weight: 500;
  font-size: clamp(1em, 3vw, 2.5em);
  margin-bottom: 24px;
}
@media screen and (max-width: 801px) {
  main .second_wrapper .second_generic_wrapper .second_left_wrapper h2 {
    font-size: 40px;
  }
}
main .second_wrapper .second_generic_wrapper .second_left_wrapper p {
  font-weight: normal;
  font-size: 20px;
}
@media screen and (max-width: 801px) {
  main .second_wrapper .second_generic_wrapper .second_right_wrapper {
    width: 200px;
    position: absolute;
    margin-top: -80px;
    margin-right: 20px;
    right: 0;
  }
}
main .second_wrapper .second_generic_wrapper .second_right_wrapper img {
  margin-left: 20%;
  margin-right: 156px;
  margin-top: -65px;
}
@media screen and (max-width: 1025px) {
  main .second_wrapper .second_generic_wrapper .second_right_wrapper img {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 421px) {
  main .second_wrapper .second_generic_wrapper .second_right_wrapper img {
    display: none;
  }
}
main .third_wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 127px;
}
main .third_wrapper a {
  margin: 0 3px 0 3px;
}
@media screen and (max-width: 1025px) {
  main .third_wrapper {
    margin-bottom: 65px;
  }
  main .third_wrapper a img {
    width: 90%;
  }
}
@media screen and (max-width: 801px) {
  main .third_wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
main .fourth_wrapper h2 {
  color: white;
  font-weight: 500;
  font-size: 40px;
  padding-bottom: 24px;
}
main .fourth_wrapper p {
  color: #999999;
  font-weight: normal;
  font-size: 20px;
  padding-bottom: 56px;
}
main .fourth_wrapper .fourth_generic_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 124px;
}
main .fourth_wrapper .fourth_generic_wrapper .swiper {
  display: none;
}
main .fourth_wrapper .fourth_generic_wrapper img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1116px) {
  main .fourth_wrapper .fourth_generic_wrapper {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 801px) {
  main .fourth_wrapper .fourth_generic_wrapper {
    padding-bottom: 40px;
  }
  main .fourth_wrapper .fourth_generic_wrapper .atropos {
    display: none;
  }
  main .fourth_wrapper .fourth_generic_wrapper .swiper {
    display: block;
  }
  main .fourth_wrapper .fourth_generic_wrapper .swiper .swiper-slide {
    width: 50%;
  }
}
@media screen and (max-width: 801px) and (max-width: 421px) {
  main .fourth_wrapper .fourth_generic_wrapper .swiper .swiper-slide {
    width: 80%;
  }
}
main .fifth_wrapper {
  height: 600px;
  background: linear-gradient(158deg, rgb(255, 129, 57) 77%, rgba(235, 105, 168, 0.514) 100%);
  border-radius: 16px;
  color: #111111;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 120px;
  padding: 0 40px 0 40px;
}
@media screen and (max-width: 801px) {
  main .fifth_wrapper {
    height: auto;
    flex-direction: column-reverse;
    background: linear-gradient(30deg, rgb(255, 129, 57) 77%, rgba(235, 105, 168, 0.514) 100%);
    border-radius: 0;
    margin: 50px -40px 0 -40px;
    padding: 0;
  }
}
main .fifth_wrapper .fifth_left_wrapper {
  width: 50%;
  height: 324px;
}
@media screen and (max-width: 1025px) {
  main .fifth_wrapper .fifth_left_wrapper {
    width: 65%;
    margin-left: -20px;
  }
}
@media screen and (max-width: 801px) {
  main .fifth_wrapper .fifth_left_wrapper {
    height: auto;
    width: 100%;
    padding: 30px 0 80px 50px;
  }
}
main .fifth_wrapper .fifth_left_wrapper h2 {
  font-weight: 500;
  font-size: 40px;
  padding-bottom: 32px;
}
main .fifth_wrapper .fifth_left_wrapper p {
  font-weight: normal;
  font-size: 20px;
  padding-bottom: 32px;
}
main .fifth_wrapper .fifth_left_wrapper button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
}
main .fifth_wrapper .fifth_right_wrapper {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
@media screen and (max-width: 801px) {
  main .fifth_wrapper .fifth_right_wrapper {
    width: 100%;
    height: 300px;
    background-image: url(../img/fifth-wrapper/nft01.png);
    background-repeat: no-repeat;
    background-position-x: center;
    border-bottom: 3px double rgb(241, 155, 84);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
}
main .fifth_wrapper .fifth_right_wrapper img {
  width: 100%;
}
@media screen and (max-width: 1025px) {
  main .fifth_wrapper .fifth_right_wrapper img {
    position: absolute;
    width: 25%;
    left: 60%;
  }
}
@media screen and (max-width: 801px) {
  main .fifth_wrapper .fifth_right_wrapper img {
    display: none;
  }
}
main .fifth_wrapper .fifth_aside_wrapper {
  margin-top: 30%;
}
@media screen and (max-width: 1025px) {
  main .fifth_wrapper .fifth_aside_wrapper {
    display: none;
  }
}
main .fifth_wrapper .fifth_aside_wrapper .id {
  color: white;
  font-weight: 500;
  font-size: 0.75em;
}
main .fifth_wrapper .fifth_aside_wrapper .name {
  font-weight: 500;
  font-size: 1.25em;
}
main .fifth_wrapper .fifth_aside_wrapper .number {
  color: #777777;
  font-weight: normal;
  font-size: 1.125em;
}
main .sixth_wrapper {
  height: 600px;
  width: 100%;
  background: linear-gradient(13deg, rgba(255, 129, 57, 0.8052171552) 0%, rgb(57, 255, 160) 33%);
  border-radius: 16px;
  margin-bottom: 120px;
}
@media screen and (max-width: 801px) {
  main .sixth_wrapper {
    height: auto;
    background: none;
    border-radius: 0;
    margin: 0 -10px 0 0;
  }
}
main .sixth_wrapper .sixth_h2_hidden {
  font-weight: 500;
  font-size: 40px;
  display: none;
  margin-top: 50px;
  margin-left: 80px;
}
@media screen and (max-width: 1025px) {
  main .sixth_wrapper .sixth_h2_hidden {
    display: block;
    position: absolute;
  }
}
@media screen and (max-width: 801px) {
  main .sixth_wrapper .sixth_h2_hidden {
    display: none;
  }
}
main .sixth_wrapper .sixth_generic_wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 801px) {
  main .sixth_wrapper .sixth_generic_wrapper {
    height: auto;
    background: linear-gradient(210deg, rgba(255, 129, 57, 0.8052171552) 0%, rgb(57, 255, 160) 15%);
    margin: 0 -40px 0 -40px;
    flex-direction: column;
  }
}
main .sixth_wrapper .sixth_generic_wrapper .sixth_left_wrapper {
  margin-left: 80px;
  margin-right: 25%;
}
@media screen and (max-width: 1281px) {
  main .sixth_wrapper .sixth_generic_wrapper .sixth_left_wrapper {
    margin-right: 10%;
  }
}
@media screen and (max-width: 1025px) {
  main .sixth_wrapper .sixth_generic_wrapper .sixth_left_wrapper {
    margin-right: 10%;
  }
  main .sixth_wrapper .sixth_generic_wrapper .sixth_left_wrapper .atropos-inner {
    height: 50%;
  }
  main .sixth_wrapper .sixth_generic_wrapper .sixth_left_wrapper img {
    width: 250px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media screen and (max-width: 801px) {
  main .sixth_wrapper .sixth_generic_wrapper .sixth_left_wrapper {
    margin: 50px 0 50px 0;
  }
  main .sixth_wrapper .sixth_generic_wrapper .sixth_left_wrapper .atropos-inner {
    height: 100%;
  }
}
main .sixth_wrapper .sixth_generic_wrapper .sixth_right_wrapper {
  width: 455px;
  height: 324px;
  margin-right: 80px;
}
@media screen and (max-width: 1025px) {
  main .sixth_wrapper .sixth_generic_wrapper .sixth_right_wrapper {
    margin-right: 70px;
  }
}
@media screen and (max-width: 801px) {
  main .sixth_wrapper .sixth_generic_wrapper .sixth_right_wrapper {
    height: auto;
    width: 100%;
    margin: 0 0 0 0;
    padding: 30px 0 80px 40px;
  }
}
main .sixth_wrapper .sixth_generic_wrapper .sixth_right_wrapper h2 {
  font-weight: 500;
  font-size: 40px;
  padding-bottom: 32px;
}
@media screen and (max-width: 1025px) {
  main .sixth_wrapper .sixth_generic_wrapper .sixth_right_wrapper h2 {
    display: none;
  }
}
@media screen and (max-width: 801px) {
  main .sixth_wrapper .sixth_generic_wrapper .sixth_right_wrapper h2 {
    display: block;
  }
}
main .sixth_wrapper .sixth_generic_wrapper .sixth_right_wrapper p {
  font-weight: normal;
  font-size: 20px;
  padding-bottom: 32px;
}
@media screen and (max-width: 1025px) {
  main .sixth_wrapper .sixth_generic_wrapper .sixth_right_wrapper p {
    margin-top: 80px;
  }
}
@media screen and (max-width: 801px) {
  main .sixth_wrapper .sixth_generic_wrapper .sixth_right_wrapper p {
    margin-top: 0;
  }
}
main .sixth_wrapper .sixth_generic_wrapper .sixth_right_wrapper button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
}
main .seventh_wrapper {
  height: auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 120px;
}
@media screen and (max-width: 1025px) {
  main .seventh_wrapper {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  main .seventh_wrapper :first-child {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 801px) {
  main .seventh_wrapper {
    width: 100vw;
    margin: 0 -40px 0 -40px;
    padding-bottom: 0;
  }
  main .seventh_wrapper .background_none {
    background-color: #111111 !important;
  }
  main .seventh_wrapper :first-child {
    margin-bottom: 0;
  }
}
main .seventh_wrapper .card {
  width: 44%;
  height: 614px;
  background: #555555;
  border-radius: 16px;
  padding: 80px;
}
@media screen and (max-width: 1281px) {
  main .seventh_wrapper .card {
    height: 700px;
  }
}
@media screen and (max-width: 1025px) {
  main .seventh_wrapper .card {
    height: 500px;
    width: 80%;
    padding: 40px;
  }
}
@media screen and (max-width: 801px) {
  main .seventh_wrapper .card {
    height: auto;
    width: 100%;
    border-radius: 0;
  }
}
main .seventh_wrapper .card h2 {
  color: white;
  font-size: 40px;
  font-weight: 500;
  margin-top: 32px;
  margin-bottom: 32px;
}
main .seventh_wrapper .card p {
  color: #cccccc;
  font-size: 20px;
  font-weight: normal;
}
main .eighth_wrapper {
  display: flex;
  border-bottom: 2px solid #555555;
  border-top: 2px solid #555555;
  background-image: url(../img/eighth-wrapper/image.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 120px;
}
@media screen and (max-width: 1281px) {
  main .eighth_wrapper {
    background-position: calc(100% + 100px);
  }
}
@media screen and (max-width: 1025px) {
  main .eighth_wrapper {
    background-position: calc(100% + 250px);
  }
}
@media screen and (max-width: 801px) {
  main .eighth_wrapper {
    height: auto;
    width: 100vw;
    margin: 0 -40px 60px -40px;
    padding: 0 40px 0 40px;
  }
}
@media screen and (max-width: 421px) {
  main .eighth_wrapper {
    background-position-x: 70%;
  }
}
@media screen and (max-width: 360px) {
  main .eighth_wrapper {
    padding-bottom: 40px;
  }
}
main .eighth_wrapper .title_wrapper {
  width: 44%;
  height: 483px;
  margin-top: 120px;
}
@media screen and (max-width: 1281px) {
  main .eighth_wrapper .title_wrapper {
    width: 50%;
    height: 483px;
  }
}
@media screen and (max-width: 1025px) {
  main .eighth_wrapper .title_wrapper {
    width: 65%;
  }
}
main .eighth_wrapper .title_wrapper #uptitle {
  color: #ff3998;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 24px;
}
main .eighth_wrapper .title_wrapper h1 {
  color: white;
  font-weight: 900;
  font-size: clamp(2em, 5vw, 6em);
  margin-bottom: 32px;
}
main .eighth_wrapper .title_wrapper #subtitle {
  width: 87%;
  color: #cccccc;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 41px;
}
main .eighth_wrapper .title_wrapper button {
  background: none;
  border: none;
  cursor: pointer;
}

footer {
  color: #eeeeee;
}
footer .footer_generic_wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media screen and (max-width: 801px) {
  footer .footer_generic_wrapper {
    flex-wrap: wrap;
  }
}
footer .footer_generic_wrapper .footer_left_wrapper img,
footer .footer_generic_wrapper .footer_left_wrapper p {
  margin-bottom: 30px;
}
footer .footer_generic_wrapper .footer_left_wrapper .social_media img:nth-child(n+2):nth-child(-n+4) {
  margin-left: 16px;
}
footer .footer_generic_wrapper .footer_right_wrapper {
  width: 590px;
  height: 139px;
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
}
@media screen and (max-width: 801px) {
  footer .footer_generic_wrapper .footer_right_wrapper {
    height: auto;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 40px;
    margin-left: 0;
  }
}
footer .footer_generic_wrapper .footer_right_wrapper h3 {
  margin-bottom: 28px;
  font-weight: bold;
  font-size: 16px;
}
footer .footer_generic_wrapper .footer_right_wrapper p {
  font-weight: normal;
  font-size: clamp(1rem, 0.11rem + 1.79vw, 1.25rem);
  line-height: 150%;
}
footer .footer {
  color: #cccccc;
  margin-bottom: 50px;
}/*# sourceMappingURL=main.css.map */