// Variables
$dark1-color: #111111; 
$dark2-color: #555555; 
$dark3-color: #777777; 
$dark4-color: #999999; 
$light1-color: white;
$light3-color: #EEEEEE;
$light4-color: #CCCCCC;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $dark1-color;
    font-family: "Inter", sans-serif;
    margin: 0 80px;

    a {
        color: inherit;
        text-decoration: none;
    }

    ul {
        list-style: none;
    }
}

header {
    margin-top: 40px;
    nav {
        display: flex;
        color: $light4-color;
        justify-content: space-between;
        align-items: center;

        font-size: 20px;

        .nav {
            ul {
                display: flex;
                gap: 28px;
            }
        }
    }
}

main {
    .initial_wrapper {
        height: 519px;
        display: flex;
        margin-top: 120px;

        .title_wrapper {
            width: 44%;
            height: 483px;

            #uptitle {
                color: #ff3998;
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 24px;
            }

            h1 {
                color: $light1-color;
                font-weight: 900;
                font-size: 96px;
                margin-bottom: 32px;
            }

            #subtitle {
                width: 87%;
                color: $light4-color;
                font-weight: normal;
                font-size: 20px;
                margin-bottom: 41px;
            }

            button {
                background: none;
                border: none;
                cursor: pointer;
            }
        }

        .title_img_wrapper {
            img {
                position: relative;
                margin-top: -100px;
            }
        }
    }

    .second_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 182px 0 120px 0;
        .second_generic_wrapper {
            width: 100%;
            height: 320px;

            background: linear-gradient(
                54deg,
                rgba(255, 57, 152, 1) 11%,
                rgba(255, 57, 57, 1) 25%,
                rgba(255, 129, 57, 1) 75%,
                rgba(57, 255, 160, 1) 100%
            );

            border-radius: 16px;

            display: flex;

            .second_left_wrapper {
                width: 620px;
                color: $dark1-color;
                margin-top: 56px;
                margin-left: 64px;

                img {
                    margin-bottom: 26px;
                }

                h2 {
                    font-weight: 500;
                    font-size: 40px;
                    margin-bottom: 24px;
                }

                p {
                    font-weight: normal;
                    font-size: 20px;
                }
            }

            .second_right_wrapper {
                img {
                    margin-top: -65px;
                }
            }
        }
    }

    .third_wrapper {
        display: flex;
        justify-content: space-between;
        padding-bottom: 127px;
    }

    .fourth_wrapper {
        h2 {
            color: $light1-color;

            font-weight: 500;
            font-size: 40px;

            padding-bottom: 24px;
        }

        p {
            color: $dark4-color;

            font-weight: normal;
            font-size: 20px;

            padding-bottom: 56px;
        }

        .fourth_generic_wrapper {
            display: flex;
            justify-content: space-between;
            padding-bottom: 124px;
        }
    }

    .fifth_wrapper {
        height: 600px;
        width: 100%;
        background: linear-gradient(158deg, rgba(255, 129, 57, 1) 77%, rgba(235, 105, 168, 0.514) 100%);

        border-radius: 16px;

        margin-bottom: 120px;

        .fifth_generic_wrapper {
            height: 100%;

            color: $dark1-color;

            display: flex;
            align-items: center;
            margin-left: 80px;

            .fifth_left_wrapper {
                width: 460px;
                height: 324px;

                h2 {
                    font-weight: 500;
                    font-size: 40px;

                    padding-bottom: 32px;
                }

                p {
                    font-weight: normal;
                    font-size: 20px;

                    padding-bottom: 32px;
                }

                button {
                    background: none;
                    border: none;

                    cursor: pointer;

                    font-weight: 600;
                    font-size: 20px;
                }
            }

            .fifth_right_wrapper {
                height: 100%;
                width: 50%;

                display: flex;
                justify-content: flex-end;
                align-items: flex-end;

                div {
                    padding-bottom: 80px;
                    padding-left: 80px;

                    .id {
                        color: $light1-color;

                        font-weight: 500;
                        font-size: 12px;
                    }

                    .name {
                        font-weight: 500;
                        font-size: 20px;
                    }

                    .number {
                        color: $dark3-color;

                        font-weight: normal;
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .sixth_wrapper{
        height: 600px;
        width: 100%;

        background: linear-gradient(13deg, rgba(255,129,57,0.8052171552214635) 0%, rgba(57,255,160,1) 33%);

        border-radius: 16px;

        margin-bottom: 120px;

        .sixth_generic_wrapper{
            border: 1px solid blue;
            width: 100%;
            height: 100%;

            display: flex;
        }
    }
}
