// == Variables
// colors
$dark1-color: #111111;
$dark2-color: #555555;
$dark3-color: #777777;
$dark4-color: #999999;
$light1-color: white;
$light3-color: #eeeeee;
$light4-color: #cccccc;
// breakpoints
$desktops: 1281px;
$big-landscape-tablets: 1025px;
$tablets: 801px;
$portrait-tablets: 600px;
$smartphones: 480px;
$portrait-smartphones: 320px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $dark1-color;
    font-family: "Inter", sans-serif;
    margin: 0 80px;
    overflow-x: hidden;

    a {
        color: inherit;
        text-decoration: none;
    }

    ul {
        list-style: none;
    }
}

header {
    margin-top: 40px;
    nav {
        display: flex;
        color: $light4-color;
        justify-content: space-between;
        align-items: center;

        font-size: 20px;

        .nav {
            ul {
                display: flex;
                gap: 28px;
            }
        }
    }
}

main {
    .initial_wrapper {
        height: 519px;
        display: flex;
        margin-top: 120px;

        .title_wrapper {
            width: 44%;
            height: 483px;

            #uptitle {
                color: #ff3998;
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 24px;
            }

            h1 {
                color: $light1-color;
                font-weight: 900;
                font-size: 96px;
                margin-bottom: 32px;

                @media screen and (max-width: $big-landscape-tablets) {
                    font-size: 70px;
                }
            }

            #subtitle {
                width: 87%;
                color: $light4-color;
                font-weight: normal;
                font-size: 20px;
                margin-bottom: 41px;
            }

            button {
                background: none;
                border: none;
                cursor: pointer;
            }
        }

        .title_img_wrapper {
            img {
                margin-left: 15%;
                margin-top: -100px;

                @media screen and (max-width: $big-landscape-tablets) {
                    width: 95%;
                    margin-top: 0;
                }
            }
        }
    }

    .second_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 182px 0 120px 0;
        .second_generic_wrapper {
            width: 100%;
            height: 320px;

            background: linear-gradient(
                54deg,
                rgba(255, 57, 152, 1) 11%,
                rgba(255, 57, 57, 1) 25%,
                rgba(255, 129, 57, 1) 75%,
                rgba(57, 255, 160, 1) 100%
            );

            border-radius: 16px;

            display: flex;

            @media screen and (max-width: $big-landscape-tablets) {
                height: 400px;
            }

            .second_left_wrapper {
                width: 55%;

                color: $dark1-color;
                margin-top: 56px;
                margin-left: 64px;

                img {
                    margin-bottom: 26px;
                }

                h2 {
                    font-weight: 500;
                    font-size: 40px;
                    margin-bottom: 24px;
                }

                p {
                    font-weight: normal;
                    font-size: 20px;
                }
            }

            .second_right_wrapper {
                margin-right: 156px;
                img {
                    margin-left: 20%;

                    margin-top: -65px;

                    @media screen and (max-width: $big-landscape-tablets) {
                        width: 95%;
                    }
                }
            }
        }
    }

    .third_wrapper {
        display: flex;
        justify-content: space-between;
        padding-bottom: 127px;

        @media screen and (max-width: $big-landscape-tablets) {
            a {
                img {
                    width: 75%;
                }
            }
        }
    }

    .fourth_wrapper {
        h2 {
            color: $light1-color;

            font-weight: 500;
            font-size: 40px;

            padding-bottom: 24px;
        }

        p {
            color: $dark4-color;

            font-weight: normal;
            font-size: 20px;

            padding-bottom: 56px;
        }

        .fourth_generic_wrapper {
            display: flex;
            justify-content: space-between;
            padding-bottom: 124px;

            @media screen and (max-width: $desktops) {
                img {
                    width: 20%;
                }
            }
        }
    }

    .fifth_wrapper {
        height: 600px;
        width: 100%;
        background: linear-gradient(158deg, rgba(255, 129, 57, 1) 77%, rgba(235, 105, 168, 0.514) 100%);

        border-radius: 16px;

        margin-bottom: 120px;

        .fifth_generic_wrapper {
            height: 100%;

            color: $dark1-color;

            display: flex;
            align-items: center;
            margin-left: 80px;

            .fifth_left_wrapper {
                width: 460px;
                height: 324px;

                @media screen and (max-width: $big-landscape-tablets) {
                    margin-top: -100px;
                }

                h2 {
                    font-weight: 500;
                    font-size: 40px;

                    padding-bottom: 32px;
                }

                p {
                    font-weight: normal;
                    font-size: 20px;

                    padding-bottom: 32px;
                }

                button {
                    background: none;
                    border: none;

                    cursor: pointer;

                    font-weight: 600;
                    font-size: 20px;
                }
            }

            .fifth_right_wrapper {
                height: 100%;
                width: 50%;

                display: flex;
                justify-content: flex-end;
                align-items: flex-end;

                margin-left: 15%;
                margin-right: 80px;

                @media screen and (max-width: $big-landscape-tablets) {
                    margin-left: 10%;

                    img {
                        width: 200px;
                    }
                }

                div {
                    padding-bottom: 80px;
                    padding-left: 80px;

                    @media screen and (max-width: $big-landscape-tablets) {
                        padding-left: 0;
                        margin-left: 30px;

                        .id,
                        .name,
                        .number {
                            width: 100px;
                        }
                    }

                    .id {
                        color: $light1-color;

                        font-weight: 500;
                        font-size: 12px;
                    }

                    .name {
                        font-weight: 500;
                        font-size: 20px;
                    }

                    .number {
                        color: $dark3-color;

                        font-weight: normal;
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .sixth_wrapper {
        height: 600px;
        width: 100%;

        background: linear-gradient(13deg, rgba(255, 129, 57, 0.8052171552214635) 0%, rgba(57, 255, 160, 1) 33%);

        border-radius: 16px;

        margin-bottom: 120px;

        .sixth_generic_wrapper {
            height: 100%;

            display: flex;
            align-items: center;

            .sixth_left_wrapper {
                margin-left: 80px;
                margin-right: 25%;

                @media screen and (max-width: $big-landscape-tablets) {
                    margin-right: 10%;

                    img {
                        width: 250px;
                    }
                }
            }

            .sixth_right_wrapper {
                width: 455px;
                height: 324px;

                margin-right: 80px;

                @media screen and (max-width: $big-landscape-tablets) {
                    margin-right: 70px;
                }

                h2 {
                    font-weight: 500;
                    font-size: 40px;

                    padding-bottom: 32px;
                }

                p {
                    font-weight: normal;
                    font-size: 20px;

                    padding-bottom: 32px;
                }

                button {
                    background: none;
                    border: none;

                    cursor: pointer;

                    font-weight: 600;
                    font-size: 20px;
                }
            }
        }
    }

    .seventh_wrapper {
        height: auto;
        display: flex;
        justify-content: space-around;

        margin-bottom: 120px;
        div {
            width: 44%;
            height: 614px;

            background: $dark2-color;
            border-radius: 16px;

            padding: 80px;

            @media screen and (max-width: $desktops) {
                height: 700px;
            }

            h2 {
                color: $light1-color;
                font-size: 40px;
                font-weight: 500;

                margin-top: 32px;
                margin-bottom: 32px;
            }

            p {
                color: $light3-color;
                font-size: 20px;
                font-weight: normal;
            }
        }
    }

    .eighth_wrapper {
        display: flex;
        margin-top: 120px;

        border-bottom: 2px solid $dark2-color;
        border-top: 2px solid $dark2-color;

        background-image: url(../img/eighth-wrapper/image.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;

        margin-bottom: 120px;
        padding-bottom: 120px;

        @media screen and (max-width: $desktops) {
            background-position: calc(100% + 100px);
        }

        @media screen and (max-width: $big-landscape-tablets) {
            background-position: calc(100% + 250px);
        }

        .title_wrapper {
            width: 44%;
            height: 483px;

            margin-top: 120px;

            @media screen and (max-width: $desktops) {
                width: 50%;
                height: 483px;
            }

            @media screen and (max-width: $big-landscape-tablets) {
                width: 65%;
            }

            #uptitle {
                color: #ff3998;
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 24px;
            }

            h1 {
                color: $light1-color;
                font-weight: 900;
                font-size: 96px;
                margin-bottom: 32px;
            }

            #subtitle {
                width: 87%;
                color: $light4-color;
                font-weight: normal;
                font-size: 20px;
                margin-bottom: 41px;
            }

            button {
                background: none;
                border: none;
                cursor: pointer;
            }
        }
    }
}

footer {
    color: $light3-color;

    .footer_generic_wrapper {
        display: flex;
        justify-content: space-between;

        margin-bottom: 120px;

        .footer_left_wrapper {
            img,
            p {
                margin-bottom: 30px;
            }
            .social_media {
                img:nth-child(n + 2):nth-child(-n + 4) {
                    margin-left: 16px;
                }
            }
        }

        .footer_right_wrapper {
            width: 590px;
            height: 139px;

            display: flex;
            justify-content: space-between;

            h3 {
                margin-bottom: 28px;
                font-weight: bold;
                font-size: 16px;
            }

            p {
                font-weight: normal;
                font-size: 20px;
                line-height: 150%;
            }
        }
    }

    .footer {
        color: $light4-color;

        display: flex;
        justify-content: space-between;

        margin-bottom: 50px;
    }
}
